<div class="col-lg-12">
  <div class="row maincontent">
    
    <div class="col-lg-12">
      <div class="col-lg-5 adtexts">
        <div class="adtext1">Aulas dinâmicas</div>
        <div class="adtext2">para você e sua empresa</div>
        <div class="adtext3">potencializar seu tempo.</div>
      </div>
      <div class="col-lg-6">  
        <img src="img/adimg1.jpg">
      </div>  
    </div>
    <div class="maintext col-lg-4">
      <h4>Curso de Inglês 
Intensivo para Negócios</h4>

<p>Rush é uma banda canadense de rock formada em agosto de 1968 na cidade de Toronto, Ontário. A banda é composta pelo baixista, tecladista e vocalista principal Geddy Lee, pelo guitarrista e backing vocal Alex Lifeson e pelo baterista, percussionista e letrista Neil Peart. </p>

<p>A banda ganhou um número considerável de Juno Awards, e foi adicionada ao Canadian Music Hall of Fame em 1994. </p>
    </div>
    <div class="maintext col-lg-4">
      <h4>Curso de Português 
Intensivo</h4>

<p>Rush é uma banda canadense de rock formada em agosto de 1968 na cidade de Toronto, Ontário.</p>

<p>A banda ganhou um número considerável de Juno Awards, e foi adicionada ao Canadian Music Hall of Fame em 1994. Ao longo de sua carreira, os membros foram reconhecidos como sendo alguns dos melhores em seus respectivos instrumentos, com cada membro ganhando vários prêmios em diversas publicações especializadas. Como um grupo, Rush possui vinte e quatro certificações de ouro e quatorze de platina (três multi-platina) registrados.</p>
    </div>
    <div class="maintext col-lg-4">
      <h4>Dinâmica de grupo</h4>

<p>Rush é uma banda canadense de rock formada em agosto de 1968 na cidade de Toronto, Ontário. A banda é composta pelo baixista, tecladista e vocalista principal Geddy Lee, pelo guitarrista e backing vocal Alex Lifeson e pelo baterista, percussionista e letrista Neil Peart.</p>

<p>A banda ganhou um número considerável de Juno Awards, e foi adicionada ao Canadian Music Hall of Fame em 1994. Ao longo de sua carreira, os membros foram reconhecidos como sendo alguns dos melhores em seus respectivos instrumentos, com cada membro ganhando vários prêmios em diversas publicações especializadas. </p>
    </div>
  </div>
</div>
